<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RealEstate</title>
</head>
<body>

	<form method = "POST" target="id_iframe">
	    <h2>

	        <p style="text-align: center">
				<div class = "login_style">
					Latitude:<br>  <input type=text id="latitude" name="latitude"> <br>
					Longitude:<br>  <input type=text name="longitude"> <br>
					Type:<br>
					<select name="Type">
						<option value="Unit">Unit</option>
						<option value="Apartment">Apartment</option>
						<option value="House">House</option>
						<option value="TownHouse">TownHouse</option>
					</select> <br>
					Bedroom:<br>  <input type=text name="bedroom" > <br>
					Bathroom:<br>  <input type=text name="bathroom"> <br>
					CarSpace:<br>  <input type=text name="carspace"> <br>
					<button>search</button>
				</div>
	        </p>
	    </h2>
	</form>


</body>
</html>